@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import './custom.scss';

:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #ffff;
}

body {
    font-family: 'Proza Libre', sans-serif;
    color: #1a1a1a;
    font-size: 16px;
        font-weight: 400;
}

a {
    text-decoration: inherit;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}